@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&family=Dancing+Script:wght@400;500;600;700&family=Lobster&family=Mukta+Vaani:wght@200;400;800&family=Pacifico&family=Satisfy&family=Yellowtail&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*
font-family: 'Baloo Bhai 2', cursive;
font-family: 'Yellowtail', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
font-family: 'Mukta Vaani', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive;
*/
main {
	font-family: 'Baloo Bhai 2', cursive;
}

header {
	box-shadow: 0px 3px 10px rgba(29, 68, 101, 0.8);
	/* box-shadow: 0px 3px 10px rgba(237, 241, 4, 0.8); */
	position: sticky;
	top: 0px;
	background: #1d4465;
	z-index: 7;
}

.hero {
	min-height: 100vh;
	/* background: url('./assets/img/backgrounds/Fondo_fher_004.jpg'); */
	background: linear-gradient(to right top, #cef104, #edf104);
	background-size: cover;
	padding: 0rem 5rem;
}

nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	min-height: 10vh;
	margin: auto;
	width: 90%;
}

nav h1,
nav ul {
	font-size: 1.5rem;
	flex: 1;
}

nav a {
	color: #cdf104;
	text-decoration: none;
	font-family: 'Baloo Bhai 2', cursive;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-links li {
	padding-left: 10rem;
	font-size: 1.1rem;
}

#logo {
	font-family: 'Yellowtail', cursive;
	font-weight: lighter;
	font-size: 1.2rem;
}

section {
	min-height: 100vh;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
}

.about {
	background: linear-gradient(to right top, #f46b45, #eea849);
}
.tecnologias {
	background: linear-gradient(to right top, #f4ae45, #f5c680);
}
.trabajos {
	background: linear-gradient(to right top, #e3f445, #bdcc39);
}
.contacto {
	background: linear-gradient(to right top, #4bf445, #2c8d28);
}

.marcador {
	position: absolute;
	z-index: -2;
	background: linear-gradient(to right top, #edf104, #ffae00);
	transform: scale(2);
	height: 0.1px;
	transition: all 0.6s;
}

.big-text {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
	font-size: 5rem;
	font-family: 'Baloo Bhai 2', cursive;
	color: #1d4465;
}

.intro {
	background: #1d4465;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider {
	background: #edf104;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
}

.intro-text {
	color: #edf104;
	font-family: 'Baloo Bhai 2', Verdana;
	font-size: 2.2rem;
}

.hide {
	background: #1d4465;
	overflow: hidden;
}

.hide span {
	transform: translateY(100%);
	display: inline-block;
}

/* Formato de CARD */
.control {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background: rgba(255, 255, 255, 0.336);
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.09),
		rgba(255, 255, 255, 0.1)
	);
	transform-style: preserve-3d;
	min-height: 10vh;
	width: 35rem;
	border-radius: 20px;
	padding: 0rem 5rem;
	box-shadow: 0 20px 20px rgba(38, 127, 243, 0.37), 0px 0px 50px rgba(38, 127, 243, 0.37);
}

.sneaker {
	min-height: 35vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sneaker img {
	transition: all 0.5s ease-out;
	width: 12rem;
	z-index: -1;
}

.fondo_card {
	/*Color de fondo del icono*/
	width: 15rem;
	height: 15rem;
	background: linear-gradient(to right, rgb(235, 231, 17, 0.75), rgb(207, 177, 8, 0.75));
	position: absolute;
	border-radius: 50%;
	z-index: -3;
}

.info h1 {
	transition: all 0.5s ease-out;
	font-size: 3rem;
	z-index: -2;
}

.info h3 {
	transition: all 0.5s ease-out;
	font-size: 1.3rem;
	padding: 2rem 0rem;
	color: rgb(255, 255, 255);
	font-weight: lighter;
	text-shadow: 3px 3px 2px #696;
	color: rgb(255, 255, 255);
}
